<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #f5f5f5;
    }

    dashboard {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  </style>
</head>
<body>
  <h1>Dashboard</h1>
  {{#unless data.length}}
   <form id="dashboard" action="/dashboard" method="post">
     <label for="keyword">Keyword:</label>
     <input type="text" id="keyword" name="keyword" required>
     <button type="submit">Search</button>
   </form>
  {{/unless}}

  {{#if data.length}}
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Number</th>
          <th>Category</th>
          <th>Funding Instrument Type</th>
          <th>Category Of Funding Activity</th>
          <th>Category Explanation</th>
          <th>CFDA Numbers</th>
          <th>Eligible Applicants</th>
          <th>Additional Information On Eligibility</th>
          <th>Agency Code</th>
          <th>Agency Name</th>
          <th>Post Date</th>
          <th>Close Date</th>
          <th>Last Updated Date</th>
          <th>Award Ceiling</th>
          <th>Award Floor</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
          <tr>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>{{number}}</td>
            <td>{{category}}</td>
            <td>{{FundingInstrumentType}}</td>
            <td>{{CategoryOfFundingActivity}}</td>
            <td>{{CategoryExplanation}}</td>
            <td>{{CFDANumbers}}</td>
            <td>{{EligibleApplicants}}</td>
            <td>{{AdditionalInformationOnEligibility}}</td>
            <td>{{AgencyCode}}</td>
            <td>{{AgencyName}}</td>
            <td>{{formatDate PostDate}}</td>
            <td>{{formatDate CloseDate}}</td>
            <td>{{formatDate LastUpdatedDate}}</td>
            <td>{{AwardCeiling}}</td>
            <td>{{AwardFloor}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
</body>
</html>