<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap');
    body{
      font-family: 'Poppins', sans-serif;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:hover {
      {{!-- background-color: #b9aaf0; --}}
      background-color: #d8d0be;
    }

    #dashboard {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    .viewButton {
      padding: 8px 12px;
      border-radius: 6px;
      background: #6366f1;
      color: #fff;
      text-align: center;
      font-weight: 500;
    }

    .submit-button {
  width: max-content;
  background: #dcfce7;
  border-radius: 6px;
  border: 1px solid #15803d;
  color: #15803d;
  padding: 4px 12px;
  font-size: 12px;
  font-weight: 750;
}
  .keyword-label{
    font-size: 20px;
  }
  </style>
</head>
<body>
  <h1>Dashboard</h1>
   <form id="dashboard" action="/dashboard" method="post">
     <label class = "keyword-label"for="keyword">Keyword:</label>
     <input type="text" id="keyword" name="keyword" required>
     <button class = "submit-button" type="submit">Search</button>
   </form>
   <br>

  {{#if data.length}}
    <table id="dashboardTable">
      <thead>
        <tr>
          <th>Title</th>
          <th>Number</th>
          <th>Close Date</th>
          <th>Award Ceiling</th>
          <th>
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
          <tr>
            <td>{{title}}</td>
            <td>{{number}}</td>
            <td>{{formatDate CloseDate}}</td>
            <td>{{AwardCeiling}}</td>
            <td><button class="viewButton" data-row-id="{{id}}" onclick="redirectToViewResults('{{id}}')">View</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
   $(document).ready(function() {
      $('.viewButton').on('click', function() {
         var rowId = $(this).data('row-id');
         redirectToViewResults(rowId);
      });

      function redirectToViewResults(rowId) {
         var url = '/dashboard-view-details?id=' + rowId;
         window.location.href = url;
      }
   });
  </script>
</body>
</html>