<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      background-color: #f3f5f9;
    }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #b9aaf0;
    }

    #dashboard {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  </style>
</head>
<body>
  <h1>Dashboard</h1>
   <form id="dashboard" action="/dashboard" method="post">
     <label for="keyword">Keyword:</label>
     <input type="text" id="keyword" name="keyword" required>
     <button type="submit">Search</button>
   </form>
   <br>

  {{#if data.length}}
    <table id="dashboardTable">
      <thead>
        <tr>
          <th>Title</th>
          <th>Number</th>
          <th>Close Date</th>
          <th>Award Ceiling</th>
          <th>
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
          <tr>
            <td>{{title}}</td>
            <td>{{number}}</td>
            <td>{{formatDate CloseDate}}</td>
            <td>{{AwardCeiling}}</td>
            <td><button class="viewButton" data-row-id="{{id}}" onclick="redirectToViewResults('{{id}}')">View</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{!-- <div id="additionalFields" class="additional-fields"></div> --}}
  {{/if}}

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
   $(document).ready(function() {
      $('.viewButton').on('click', function() {
         var rowId = $(this).data('row-id');
         redirectToViewResults(rowId);
      });

      function redirectToViewResults(rowId) {
         var url = '/dashboard-view-details?id=' + rowId;
         window.location.href = url;
      }
   });
  </script>
</body>
</html>